.back {
    max-width: 730px;
    margin: 0 auto;
    margin-top: -56px;

    &__container {
        position: relative;
        border-radius: 8px;
        border: 1px solid rgba(0, 0, 0, 0.0497193);
        background-color: #fff;
        margin: 0 24px;
        padding: 52px 24px 40px 24px;
        text-align: center;
    }

    &__m-icon {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -28px;
    }

    @media only screen and (min-width: 768px) {
        margin-top: -92px;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 9px;

        @media only screen and (min-width: 768px) {
            column-gap: revert;
            justify-content: space-between;
        }
    }

    &__bookmark-wrapper {
        cursor: pointer;
        transition: opacity 0.2s, background-color 0.2s;

        @media only screen and (min-width: 768px) {
            display: flex;
            align-items: center;
            border-radius: 50px;
            background-color: rgba(47, 47, 47, 0.05);
            padding-right: 24px;
        }

        &:hover {
            background-color: rgba(47, 47, 47, 0.1);
            opacity: 0.75;
        }
    }

    &__bookmark-icon {
    }

    &__bookmark-text {
        display: none;

        @media only screen and (min-width: 768px) {
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #7a7a7a;
            display: revert;
            margin-left: 16px;
        }
    }
}

// UTILITIES

.u-back-h1-margin-bottom {
    margin-bottom: 16px;

    @media only screen and (min-width: 768px) {
        margin-bottom: 15px;
    }
}

.u-back-p-margin-bottom {
    margin-bottom: 24px;

    @media only screen and (min-width: 768px) {
        margin-bottom: 40px;
    }
}

// END
