* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

button,
input,
label {
    font: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Commissioner', sans-serif;
    background-color: #fafafa;
}

.h1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    padding: 0 10px;

    @media only screen and (min-width: 600px) {
        padding: 0;
        font-size: 28px;
        line-height: 34px;
    }
}

.h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #000000;

    @media only screen and (min-width: 600px) {
        font-size: 20px;
        line-height: 24px;
    }
}

.p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #7a7a7a;

    @media only screen and (min-width: 600px) {
        font-size: 16px;
        line-height: 20px;
    }
}

.btn {
    background-color: #3cb3ab;
    border-radius: 50px;
    border: none;
    padding: 17px 42px 19px 42px;

    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;

    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;

    &:hover {
        background-color: #147a73;
    }

    &:active {
        transform: scale(0.95);
        background-color: #3cb3ab;
    }
}
