.header {
    height: 300px;
    padding: 32px 22px 32px 24px;

    background-image: url(./../images/image-hero-mobile.jpg);
    background-size: cover;

    @media only screen and (min-width: 600px) {
        height: 400px;
        padding: 32px;
    }

    @media only screen and (min-width: 900px) {
        background-image: url(./../images/image-hero-desktop.jpg);
        background-position: bottom;
        padding-top: 40px;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        @media only screen and (min-width: 600px) {
            max-width: 1174px;
            margin: 0 auto;
        }
    }

    &__open-menu,
    &__close-menu {
        cursor: pointer;
        padding: 2px;

        &:hover {
            opacity: 0.9;
        }
    }

    &__open-menu {
        padding: 2px;

        @media only screen and (min-width: 600px) {
            display: none;
        }
    }

    &__close-menu {
        display: none;

        position: relative;
        z-index: 3;
    }
}

.nav-open .header__open-menu {
    display: none;
}

.nav-open .header__close-menu {
    @media only screen and (max-width: 599px) {
        display: block;
    }
}

.nav {
    transition: height 0.2s, opacity 0.2s, visibility 0.2s;

    @media only screen and (max-width: 599px) {
        position: absolute;
        top: 56px;
        z-index: 2;
        width: 100%;

        background: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.0497193);
        border-radius: 8px;
        overflow: hidden;

        height: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    ul {
        list-style: none;

        @media only screen and (min-width: 600px) {
            display: flex;
        }
    }

    li {
        transition: opacity 0.2s;
        opacity: 0;

        @media only screen and (min-width: 600px) {
            opacity: 1;
        }

        &:not(:last-child) {
            border-bottom: 1px solid rgba(47, 47, 47, 0.1);

            @media only screen and (min-width: 600px) {
                border-bottom: revert;
                margin-right: 32px;
            }
        }
    }

    &__link,
    &__link:link,
    &__link:visited {
        text-decoration: none;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #000000;

        display: block;
        padding: 24px;

        &:hover {
            background-color: hsl(176, 50%, 47%);
            color: #fff;

            @media only screen and (min-width: 600px) {
                background-color: transparent;
                text-decoration: underline;
            }
        }

        @media only screen and (min-width: 600px) {
            padding: 0;
            font-size: 13px;
            line-height: 16px;
            color: #ffffff;
        }
    }
}

.nav-open {
    @media only screen and (max-width: 599px) {
        overflow: hidden;
    }
}

.nav-open .nav {
    @media only screen and (max-width: 599px) {
        height: 212px;
        opacity: 1;
        visibility: visible;
        pointer-events: revert;
    }
}

.nav-open-height .nav {
    @media only screen and (max-width: 599px) {
        height: 212px;
    }
}

.nav-open-opacity .nav li {
    @media only screen and (max-width: 599px) {
        opacity: 1;
    }
}

.nav__layout {
    @media only screen and (max-width: 599px) {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;

        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.2);
        box-shadow: 0 400px 200px rgba(0, 0, 0, 0.5) inset;

        transition: opacity 0.2s, visibility 0.2s, background-color 0.2s,
            box-shadow 0.2s;
    }

    @media only screen and (min-width: 600px) {
        display: none;
    }
}

.nav-open .nav__layout {
    @media only screen and (max-width: 599px) {
        opacity: 1;
        visibility: visible;
        pointer-events: revert;
    }
}
