* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  font: inherit;
}

body {
  font-family: "Commissioner", sans-serif;
  background-color: #fafafa;
}

.h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  padding: 0 10px;
}
@media only screen and (min-width: 600px) {
  .h1 {
    padding: 0;
    font-size: 28px;
    line-height: 34px;
  }
}

.h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
@media only screen and (min-width: 600px) {
  .h2 {
    font-size: 20px;
    line-height: 24px;
  }
}

.p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #7a7a7a;
}
@media only screen and (min-width: 600px) {
  .p {
    font-size: 16px;
    line-height: 20px;
  }
}

.btn {
  background-color: #3cb3ab;
  border-radius: 50px;
  border: none;
  padding: 17px 42px 19px 42px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}
.btn:hover {
  background-color: #147a73;
}
.btn:active {
  transform: scale(0.95);
  background-color: #3cb3ab;
}

.header {
  height: 300px;
  padding: 32px 22px 32px 24px;
  background-image: url(./../images/image-hero-mobile.jpg);
  background-size: cover;
}
@media only screen and (min-width: 600px) {
  .header {
    height: 400px;
    padding: 32px;
  }
}
@media only screen and (min-width: 900px) {
  .header {
    background-image: url(./../images/image-hero-desktop.jpg);
    background-position: bottom;
    padding-top: 40px;
  }
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
@media only screen and (min-width: 600px) {
  .header__container {
    max-width: 1174px;
    margin: 0 auto;
  }
}
.header__open-menu, .header__close-menu {
  cursor: pointer;
  padding: 2px;
}
.header__open-menu:hover, .header__close-menu:hover {
  opacity: 0.9;
}
.header__open-menu {
  padding: 2px;
}
@media only screen and (min-width: 600px) {
  .header__open-menu {
    display: none;
  }
}
.header__close-menu {
  display: none;
  position: relative;
  z-index: 3;
}

.nav-open .header__open-menu {
  display: none;
}

@media only screen and (max-width: 599px) {
  .nav-open .header__close-menu {
    display: block;
  }
}

.nav {
  transition: height 0.2s, opacity 0.2s, visibility 0.2s;
}
@media only screen and (max-width: 599px) {
  .nav {
    position: absolute;
    top: 56px;
    z-index: 2;
    width: 100%;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.0497193);
    border-radius: 8px;
    overflow: hidden;
    height: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
.nav ul {
  list-style: none;
}
@media only screen and (min-width: 600px) {
  .nav ul {
    display: flex;
  }
}
.nav li {
  transition: opacity 0.2s;
  opacity: 0;
}
@media only screen and (min-width: 600px) {
  .nav li {
    opacity: 1;
  }
}
.nav li:not(:last-child) {
  border-bottom: 1px solid rgba(47, 47, 47, 0.1);
}
@media only screen and (min-width: 600px) {
  .nav li:not(:last-child) {
    border-bottom: revert;
    margin-right: 32px;
  }
}
.nav__link, .nav__link:link, .nav__link:visited {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  display: block;
  padding: 24px;
}
.nav__link:hover, .nav__link:link:hover, .nav__link:visited:hover {
  background-color: hsl(176deg, 50%, 47%);
  color: #fff;
}
@media only screen and (min-width: 600px) {
  .nav__link:hover, .nav__link:link:hover, .nav__link:visited:hover {
    background-color: transparent;
    text-decoration: underline;
  }
}
@media only screen and (min-width: 600px) {
  .nav__link, .nav__link:link, .nav__link:visited {
    padding: 0;
    font-size: 13px;
    line-height: 16px;
    color: #ffffff;
  }
}

@media only screen and (max-width: 599px) {
  .nav-open {
    overflow: hidden;
  }
}

@media only screen and (max-width: 599px) {
  .nav-open .nav {
    height: 212px;
    opacity: 1;
    visibility: visible;
    pointer-events: revert;
  }
}

@media only screen and (max-width: 599px) {
  .nav-open-height .nav {
    height: 212px;
  }
}

@media only screen and (max-width: 599px) {
  .nav-open-opacity .nav li {
    opacity: 1;
  }
}

@media only screen and (max-width: 599px) {
  .nav__layout {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 400px 200px rgba(0, 0, 0, 0.5) inset;
    transition: opacity 0.2s, visibility 0.2s, background-color 0.2s, box-shadow 0.2s;
  }
}
@media only screen and (min-width: 600px) {
  .nav__layout {
    display: none;
  }
}

@media only screen and (max-width: 599px) {
  .nav-open .nav__layout {
    opacity: 1;
    visibility: visible;
    pointer-events: revert;
  }
}

.back {
  max-width: 778px;
  margin: 0 auto;
  margin-top: -56px;
  margin-bottom: 24px;
}
.back__container {
  position: relative;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.0497193);
  background-color: #fff;
  margin: 0 24px;
  padding: 52px 24px 40px 24px;
  text-align: center;
}
.back__m-icon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -28px;
}
@media only screen and (min-width: 600px) {
  .back {
    margin-top: -92px;
  }
}
.back__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 9px;
}
@media only screen and (max-width: 370px) {
  .back__wrapper {
    flex-direction: column;
    row-gap: 15px;
  }
}
@media only screen and (min-width: 600px) {
  .back__wrapper {
    column-gap: revert;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 370px) {
  .back .p {
    font-size: 13px;
  }
}
.back__bookmark-wrapper {
  cursor: pointer;
  transition: opacity 0.2s, background-color 0.2s;
  border-radius: 50px;
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 600px), only screen and (max-width: 370px) {
  .back__bookmark-wrapper {
    background-color: rgba(47, 47, 47, 0.05);
    padding-right: 24px;
  }
}
.back__bookmark-wrapper:hover {
  background-color: rgba(47, 47, 47, 0.1);
  opacity: 0.75;
}
.back__bookmark-text {
  display: none;
  transition: color 0.15s;
}
@media only screen and (min-width: 600px), only screen and (max-width: 370px) {
  .back__bookmark-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #7a7a7a;
    display: revert;
    margin-left: 16px;
  }
}
.back__bookmark-text::selection {
  color: #7a7a7a;
}

.back__bookmark-icon-path,
.back__bookmark-icon-circle {
  transition: fill 0.2s;
}

.bookmarked .back__bookmark-icon-path {
  fill: #fff;
}

.bookmarked .back__bookmark-icon-circle {
  fill: #147a73;
}

.bookmarked .back__bookmark-text {
  color: #147a73;
}

.u-back-h1-margin-bottom {
  margin-bottom: 16px;
}
@media only screen and (min-width: 600px) {
  .u-back-h1-margin-bottom {
    margin-bottom: 15px;
  }
}

.u-back-p-margin-bottom {
  margin-bottom: 24px;
}
@media only screen and (min-width: 600px) {
  .u-back-p-margin-bottom {
    margin-bottom: 40px;
  }
}

:root {
  --progress-bar: 10%;
}

.sum {
  max-width: 778px;
  margin: 0 auto;
  margin-bottom: 24px;
}
.sum__container {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.0497193);
  background-color: #fff;
  margin: 0 24px;
  padding: 32px 24px 40px 24px;
  text-align: center;
}
@media only screen and (min-width: 600px) {
  .sum__container {
    padding: 48px 48px 49px 48px;
    text-align: left;
  }
}
@media only screen and (min-width: 600px) {
  .sum__cols-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 37px;
  }
}
.sum__col {
  position: relative;
}
.sum__col:not(:last-child) {
  margin-bottom: 49px;
}
@media only screen and (min-width: 600px) {
  .sum__col:not(:last-child) {
    margin-bottom: 0;
  }
}
.sum__col:not(:last-child)::before {
  content: "";
  width: 80px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.15);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -25px;
}
@media only screen and (min-width: 600px) {
  .sum__col:not(:last-child)::before {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  .sum__col--1, .sum__col--2 {
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    padding-right: 40px;
    margin-right: 40px;
  }
}
@media only screen and (min-width: 700px) {
  .sum__col--1 {
    margin-right: 42px;
    margin-right: 47px;
  }
}
@media only screen and (min-width: 700px) {
  .sum__col--2 {
    padding-right: 91px;
    margin-right: 47px;
  }
}
.sum__col:last-child {
  margin-bottom: 32px;
}
@media only screen and (min-width: 600px) {
  .sum__col:last-child {
    margin-bottom: 0;
  }
}
.sum__col-nums {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
  margin-bottom: 9px;
}
@media only screen and (min-width: 600px) {
  .sum__col-nums {
    margin-bottom: 8px;
  }
}
.sum__col-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #7a7a7a;
}
@media only screen and (min-width: 600px) {
  .sum__col-description {
    font-size: 15px;
    line-height: 18px;
  }
}
.sum__progress-bar {
  max-width: 350px;
  margin: 0 auto;
  height: 12px;
  background-color: rgba(47, 47, 47, 0.05);
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  transition: width 0.2s ease-in-out;
}
@media only screen and (min-width: 600px) {
  .sum__progress-bar {
    max-width: 100%;
  }
}
.sum__progress-bar::after {
  content: "";
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: var(--progress-bar);
  height: 100%;
  border-radius: 50px;
  background-color: #3cb3ab;
  transition: width 0.5s ease-in-out;
}

.about {
  max-width: 778px;
  margin: 0 auto;
  padding-bottom: 76px;
}
@media only screen and (min-width: 600px) {
  .about {
    padding-bottom: 124px;
  }
}
.about__container {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.0497193);
  border-radius: 8px;
  padding: 40px 24px 40px 24px;
  margin: 0 24px;
}
@media only screen and (min-width: 600px) {
  .about__container {
    padding: 48px;
  }
}
.about__content-wrapper {
  margin-bottom: 35px;
}
@media only screen and (min-width: 600px) {
  .about__content-wrapper {
    margin-bottom: 40px;
  }
}
.about__box {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 24px;
}
@media only screen and (min-width: 600px) {
  .about__box {
    padding: 38px 32px 32px 32px;
  }
}
.about__box--inactive {
  opacity: 0.5;
}
.about__box:not(:last-child) {
  margin-bottom: 24px;
}
.about__box__num-box {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
@media only screen and (min-width: 600px) {
  .about__box__num-box {
    margin-bottom: 0;
  }
}
.about__box__num {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
  margin-right: 8px;
}
.about__box__left {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #7a7a7a;
}
@media only screen and (min-width: 600px) {
  .about__box__heading-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }
}
.about__h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 8px;
}
@media only screen and (min-width: 600px) {
  .about__h3 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 0;
  }
}
.about__price {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #3cb3ab;
  margin-bottom: 24px;
}
@media only screen and (min-width: 600px) {
  .about__price {
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 0;
  }
}
.about .p {
  margin-bottom: 24px;
}
@media only screen and (min-width: 600px) {
  .about .p {
    line-height: 30px;
  }
}
@media only screen and (min-width: 600px) {
  .about__btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.about .btn {
  padding: 15px 33px 16px 32px;
}
.about__box--inactive .btn {
  padding: 15px 37px 16px 37px;
  background-color: rgba(47, 47, 47, 0.5);
}
.about__box--inactive .btn:hover {
  cursor: not-allowed;
}
.about__box--inactive .btn:active {
  transform: revert;
}

.u-about-h2-margin-bottom {
  margin-bottom: 24px;
}
@media only screen and (min-width: 600px) {
  .u-about-h2-margin-bottom {
    margin-bottom: 35px;
  }
}

.open-modal .modal__layout {
  opacity: 1;
  visibility: visible;
  pointer-events: revert;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__layout {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  background-color: transparent;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.2s, visibility 0.2s, background-color 0.2s;
}
.modal__container {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.0497193);
  border-radius: 8px;
  position: absolute;
  z-index: 15;
  left: 50%;
  transform: translateX(-50%);
  top: 121px;
  width: 87%;
  padding: 32px 24px 32px 24px;
}
@media only screen and (min-width: 600px) {
  .modal__container {
    top: 184px;
  }
}
@media only screen and (min-width: 768px) {
  .modal__container {
    width: 730px;
    padding: 48px;
  }
}
.modal__close-icon {
  position: absolute;
  top: 36px;
  right: 24px;
  cursor: pointer;
}
@media only screen and (min-width: 600px) {
  .modal__close-icon {
    top: 32px;
    right: 32px;
  }
}
.modal__h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 24px;
}
@media only screen and (min-width: 600px) {
  .modal__h2 {
    margin-bottom: 16px;
  }
}
.modal__p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #7a7a7a;
  margin-bottom: 24px;
}
@media only screen and (min-width: 600px) {
  .modal__p {
    margin-bottom: 32px;
  }
}
.modal__box {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 32px 24px;
  position: relative;
  cursor: pointer;
}
@media only screen and (min-width: 600px) {
  .modal__box {
    padding: 35px 28px 32px 28px;
  }
}
.modal__box:not(:last-child) {
  margin-bottom: 24px;
}
.modal__box--inactive {
  opacity: 0.5;
}
.modal__box__header {
  display: flex;
  align-items: center;
  margin-bottom: 33px;
}
@media only screen and (min-width: 600px) {
  .modal__box__header {
    align-items: flex-start;
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 600px) {
  .modal__box__header div {
    display: flex;
    align-items: center;
  }
}
.modal__box__h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
@media only screen and (min-width: 600px) {
  .modal__box__h3 {
    font-size: 16px;
    line-height: 20px;
    margin-right: 16px;
  }
}
.modal__box__circle {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 16px;
}
@media only screen and (min-width: 600px) {
  .modal__box__circle {
    margin-right: 22px;
  }
}
.modal__box__price {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #3cb3ab;
  margin-top: 8px;
}
@media only screen and (min-width: 600px) {
  .modal__box__price {
    margin-top: 0;
  }
}
.modal__box__p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #7a7a7a;
}
@media only screen and (min-width: 600px) {
  .modal__box__p {
    font-size: 15px;
    line-height: 28px;
    padding-left: 45px;
  }
}
.modal__box__num-box {
  display: flex;
  align-items: center;
  margin-top: 24px;
}
@media only screen and (min-width: 600px) {
  .modal__box__num-box {
    position: absolute;
    margin-top: 0;
    top: 34px;
    right: 28px;
  }
}
.modal__box__num {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-right: 8px;
}
.modal__box__left {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #7a7a7a;
}

.modal {
  display: none;
}

/*# sourceMappingURL=style.css.map */
